body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: url('army.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh; /* Полная высота экрана */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 12px solid #333;
  image-rendering: pixelated;
  background: url('welcome.png') no-repeat center center fixed;
  background-size: contain;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px; /* Максимальная ширина */
  height: auto; /* Автоматическая высота */
  aspect-ratio: 4 / 3; /* Соотношение сторон Canvas */
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 24px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  width: 120px; /* Фиксированная ширина кнопок */
}

button:hover {
  background-color: #45a049;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 30% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px; /* Уменьшено для смартфонов */
  border-radius: 10px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

/* Медиа-запросы для смартфонов */
@media (max-width: 600px) {
  canvas {
    max-width: 90%; /* Уменьшаем на маленьких экранах */
  }
  button {
    font-size: 14px;
    width: 100px;
    padding: 8px 16px;
  }
  .modal-content {
    margin: 40% auto; /* Чуть ниже на маленьких экранах */
  }
}

.scene-description {
  margin: 10px 0;
  text-align: center;
}
.scene-description p {
  font-size: 20px; /* Крупнее текст */
  font-family: Arial, sans-serif;
  color: #333;
  margin: 5px 0;
}
@media (max-width: 600px) {
  .scene-description p {
    font-size: 16px; /* Чуть меньше на телефонах */
  }
}